/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 20px;
  padding: 50px;
  background-color: gray;
  border: 1px solid black;
}

.startQuiz  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}