/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

button {
  display: block;
  padding: 20px 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  align-self: flex-end;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-and-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer {
  display: flex;
}

.radio{
  align-items: center;
} 

form {
  
}