/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
/**cope dope all day**/
main {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

button {
  padding: 20px 40px;
  border-radius: 5px;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-and-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}